{% extends 'base/basePassword.html' %}
{% load staticfiles i18n %}
{% load bootstrap4 %}

{% block title %}Recuperar contraseña hecho{% endblock %}


{% block main %}

<section class="PasswordResetConfirm">

{% if validlink %}

<h1>Nueva contraseña</h1>
<form method = "post">
{% csrf_token %}

{{ form.new_pasword1.errors }}
<label for="id_new_password1">Nueva contraseña:</label>
{{ form.new_password1 }}

{{ form.new_pasword2.errors }}
<label for="id_new_password2">Confirmar contraseña:</label>
{{ form.new_password2 }}

<button type="submit" class="btn btn-success">Cambiar mi contraseña</button>
</form>

{% else %}

<h1 class="text-center" style="color:red;"> ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO.</h1>
<p><a href="{% url 'password_reset' %}">solicitar un nuevo token de restablecimiento de contraseña</a></p>

{% endif %}

</section>

{% endblock %}