{% extends 'base/base.html' %}
{% block content %}
  {% if validlink %}
    <h3>Cambio de Contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Cambio de Contraseña</button>
    </form>
  {% else %}
    <p>
      
      El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha utilizado.
      Solicite un nuevo restablecimiento de contraseña.

      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
      
    </p>
  {% endif %}
{% endblock %