{% extends 'base/base.html' %}
{%load staticfiles %}
{% block main %}
{% load bootstrap4 %}



<div class="text-center" >
    <h1 class="h4 text-gray-900 mb-4">	<datagrid>BIENVENIDO {{ request.user.first_name }} A NUESTRA APLICACIÓN PARA EL CONTROL DE LA SEMAFORIZACIÓN DE LA CLÍNICA ODONTOLOGÍCA JVA </datagrid></h1>
    <div class="container">
        <h2>Estos son algunos procesos de labor</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
      
            <div class="item active">
              <img src="{% static 'img/imagenes/blanqueamiento.jpg' %}" alt="Blanqueamiento" style="width:100%;">
              <div class="carousel-caption">
              </div>
            </div>
      
            <div class="item">
              <img src="{% static 'img/imagenes/brackets.jpg' %}" alt="Brackests" style="width:100%;">
              <div class="carousel-caption">
              </div>
            </div>
          
            <div class="item">
              <img src="{% static 'img/imagenes/valoracion.jpg' %}" alt="Valoración" style="width:100%; height: 20%;">
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <img src="{% static 'img/imagenes/higiene.jpg' %}" alt="Higiene " style="width:100%;">
              <div class="carousel-caption">
              </div> 
            </div>

            
            <div class="item">
              <img src="{% static 'img/imagenes/implante.jpg' %}" alt="Implante Dental" style="width:100%;">
              <div class="carousel-caption">
              </div>
            </div>

            
            <div class="item">
              <img src="{% static 'img/imagenes/panoramica.jpg' %}" alt="Lectura de Panoramica" style="width:100%;">
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <img src="{% static 'img/imagenes/resina_Amalgama.jpg' %}" alt="Resina y Amalgama" style="width:100%;">
              <div class="carousel-caption">
              </div> 
            </div>

            <div class="item">
              <img src="{% static 'img/imagenes/implanteDetallado.jpg' %}" alt="Implante Dental" style="width:100%;">
              <div class="carousel-caption">
              </div>
            </div>

          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previo</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
      </div>
</div>


  
{% endblock %}