{% extends 'base/base.html' %}
{%load staticfiles %}
{% block main %}
{% load bootstrap4 %}
{% load staticfiles i18n %}
<!--para que el mensaje de validación desaparesca automaticamente la url-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.0.4.js"></script>

<link rel="stylesheet" te cype="text/css" href="bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<body>   
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5" id="centrado">
            <div class="card-body p-0">
                <div class="row">                
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="p-5">
                            <!-- mensaje de validación de creacion de Usuario-->
                            {% if messages %}
                    
                            {% for message in messages %}
                                
                                <div id="messages" class="container-fluid" style="background-color:rgb(33, 243, 40);color:#fff;height:100px;">
                                <h1 {% if mesage.tags == "success" %} class="alert alert-sucess "{% endif %}>{{ message }}</h1>
                                </div>
                                <br>
                            {% endfor %}


                            {% endif %}
                            <div class="text-center" >
                                <h1 class="h4 text-gray-900 mb-4">	<datagrid>Registrar Medicamento.</datagrid></h1>
                            </div>
                            <form  method="POST" >
                                <div class="form-group">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                     <!-- Modal para el scaner de código QR de Medicamento-->
                                <div id="moda" class="dropdown-divider"></div> 
                                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
        
                                    </div>
                                </div>
                                <!-- el input para seleccionar el archivo QR y realiza su lectura -->
                                <input type="file" id="myFile" multiple size="50" onchange="myFunction()">  
                                <!-- boton para confirmar su registro del Medicamento o la cancelacion de el, y el boton para crear QR -->
                                <div class="dropdown-divider"></div>
                                    <a class="btn btn-default" href="{% url 'indexWelcome' %}">Cancelar</a>
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#logoutModal-RegistroMedicamento">Registrar Medicamento</button>
                                    <button id="qrGenerador"  type="button" class="btn btn-primary" >Generar QR</button>
                                <!-- Mensaje de confirmacion de su registro de Medicamento-->
                                <div class="modal fade" id="logoutModal-RegistroMedicamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-RegistroMedicamento" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel-RegistroMedicamento">¿Preparado para Guardar el registro del Medicamento exitosamente?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">Seleccione "Guardar Medicamento" a continuación si está listo para finalizar su registro.</div>
                                        <!-- Botones para guardar Medicamento o cancelar su proceso-->
                                        <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar Medicamento</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>                           
                            </form>                                   
                        </div>                      
                        <div class="col-1"></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <!-- manejo del Ajax para generar consultas por filtro -->
    <script type="text/JavaScript" src="{% static 'js/ajax/medicamento.js' %}"></script>
     <!-- funcion para que el mensaje de validación desaparesca automaticamente en segundos o en lo que quiera-->
    <script >
        $(document).ready(function(){
        $("#messages").fadeOut(3500);
        })
    </script>
    <!-- javaScript para generar codigo QR -->
    <script>
        function myFunction(){
        var x = document.getElementById("myFile");
        var txt = "";

        $.ajax({
                url: '{% url "decodeQRMedicamento" %}',
                data: {
                        'nombreArchivo': x.value,          
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.code)
                        alert("Su codigo se ha generado en el campo de codigo");
                        document.getElementById("id_codigo").value = data.code;

                    }
                });

        }

        $("#qrGenerador").click(function() {
        var code = $('input[name="codigo"]').val();
        var nombre = $('input[name="nombre"]').val();
        var numero_lote = $('input[name="numero_lote"]').val();
        if (code, nombre, numero_lote) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "createQRForm" %}',
                data: {
                    'code': code,
                    'nombre': nombre,
                    'numero_lote': numero_lote,
                },
                dataType: 'json',
                success: function (data) {
                    alert(code, nombre, numero_lote);
                }
            });
          }else{
              alert("No ha llenado el campo nombre o codigo, los cuales son necesarios");
          }
        return false;
    });
    </script>
    
</body>
{% endblock %}