{% extends 'base/base.html' %}
{% block main %}
{% load bootstrap4 %}
{% load staticfiles i18n %}

<!--para que el mensaje de validación desaparesca automaticamente la url-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- libreria para el manejo de Ajax para generar consultas por filtro -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>
  <div class="container">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <div class="card shadow mb-4">
            <!-- mensaje de validación de creacion de Medicamento-->
            {% if messages %}
      
            {% for message in messages %}
                
                <div id="messages" class="container-fluid" style="background-color:rgb(33, 243, 40);color:#fff;height:100px;">
                  <h1 {% if mesage.tags == "success" %} class="alert alert-sucess "{% endif %}>{{ message }}</h1>
                </div>
                <br>
            {% endfor %}


            {% endif %}
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lista de medicamentos registrados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                 <!-- Búsqueda en la barra superior-->
                 <form method="get" action="{% url 'buscarMedicamento' %}" id="buscar_medicamento" class="d-none d-sm-inline-block form-inline mr-auto ml-md-0 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                    <input type="text" name="asignacionColor" id="buscar_medicam" class="form-control bg-light border-0 small" placeholder="Buscar por..." aria-label="buscar" aria-describedby="basic-addon2" >
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit" title="Buscar">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="dataTable_length"></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="dataTable_filter" class="dataTables_filter"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                      role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                      <thead>
                        <tr role="row">
                          <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Nombre: activate to sort column ascending" aria-sort="descending" style="width: 99px;">Nombre
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Distribuidor: activate to sort column ascending" style="width: 157px;">Fecha de vencimiento
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Nickname: activate to sort column ascending" style="width: 70px;">Fabricado
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Email: activate to sort column ascending" style="width: 31px;">Registro Invima
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="% Comision: activate to sort column ascending" style="width: 68px;"># Lote
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Es red: activate to sort column ascending" style="width: 67px;">Presentacion Comercial
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Forma Farmaceutica
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Es red: activate to sort column ascending" style="width: 67px;">Principio Activo
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Unidad Medica
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Es red: activate to sort column ascending" style="width: 67px;">Porcentaje
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Temperatura
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Es red: activate to sort column ascending" style="width: 67px;">Cantidad
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Codigo
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Es red: activate to sort column ascending" style="width: 90px;">Acciones</th>
                        </tr>
                      </thead>
                      <tfoot>
                      </tfoot>
                      
                      <tbody id="fila_medicamento"> 
                        <!-- funcion para proyectar los campos con los nombres correspondientes -->
                        {% if object_list %}
                        {% for medicamentos in object_list %}
                        {% if medicamentos.asignacionColor == 'Rojo' %}                                             
                        <tr role="row" class="odd" name="registro_item_Rojo" style="background-color:rgb(255, 30, 30);">

                          <td style="color:Black;">{{medicamentos.nombre}}</td>
                          <td style="color:Black;">{{medicamentos.fecha_vencimiento}}</td>
                          <td style="color:Black;">{{medicamentos.fabricado_por}}</td>
                          <td style="color:Black;">{{medicamentos.registro_invima}}</td>
                          <td style="color:Black;">{{medicamentos.numero_lote}}</td>
                          <td style="color:Black;">{{medicamentos.presentacion_comercial}}</td>
                          <td style="color:Black;">{{medicamentos.forma_farmaceutica}}</td>
                          <td style="color:Black;">{{medicamentos.principio_activo}}</td>
                          <td style="color:Black;">{{medicamentos.unidad_medica}}</td>
                          <td style="color:Black;">{{medicamentos.porcentaje}}</td>
                          <td style="color:Black;">{{medicamentos.temperatura}}</td>
                          <td style="color:Black;">{{medicamentos.cantidad}}</td>
                          <td style="color:Black;">{{medicamentos.codigo}}</td>
                          <td style="background-color:rgb(255, 255, 255);">
                  </div>
                </div>
                        <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar medicamento">
                          <button class="btn btn-primary btn-sm">
                          <i class="fa fa-edit"></i>
                          </button>
                        </a>
                        <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar medicamento">
                          <button class="btn btn-danger btn-sm">
                          <i class="fa fa-trash"></i>
                          </button>
                        </a>
                          
                          </td>
                        </tr>
                      {% endif %}

                      {% if medicamentos.asignacionColor == 'Amarillo' %}                                             
                      <tr role="row" class="odd" name="registro_item_Amarillo" style="background-color:rgb(239, 251, 0);">

                        <td style="color:Black;">{{medicamentos.nombre}}</td>
                        <td style="color:Black;">{{medicamentos.fecha_vencimiento}}</td>
                        <td style="color:Black;">{{medicamentos.fabricado_por}}</td>
                        <td style="color:Black;">{{medicamentos.registro_invima}}</td>
                        <td style="color:Black;">{{medicamentos.numero_lote}}</td>
                        <td style="color:Black;">{{medicamentos.presentacion_comercial}}</td>
                        <td style="color:Black;">{{medicamentos.forma_farmaceutica}}</td>
                        <td style="color:Black;">{{medicamentos.principio_activo}}</td>
                        <td style="color:Black;">{{medicamentos.unidad_medica}}</td>
                        <td style="color:Black;">{{medicamentos.porcentaje}}</td>
                        <td style="color:Black;">{{medicamentos.temperatura}}</td>
                        <td style="color:Black;">{{medicamentos.cantidad}}</td>
                        <td style="color:Black;">{{medicamentos.codigo}}</td>
                        <td style="background-color:rgb(255, 255, 255);">
                </div>
              </div>
                      <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar medicamento">
                        <button class="btn btn-primary btn-sm">
                        <i class="fa fa-edit"></i>
                        </button>
                      </a>
                      <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar medicamento">
                        <button class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                        </button>
                      </a>
                        
                        </td>
                      </tr>
                    {% endif %}

                    {% if medicamentos.asignacionColor == 'Verde' %}                                             
                    <tr role="row" class="odd" name="registro_item_Verde" style="background-color:rgb(0, 255, 72);">

                      <td style="color:Black;">{{medicamentos.nombre}}</td>
                      <td style="color:Black;">{{medicamentos.fecha_vencimiento}}</td>
                      <td style="color:Black;">{{medicamentos.fabricado_por}}</td>
                      <td style="color:Black;">{{medicamentos.registro_invima}}</td>
                      <td style="color:Black;">{{medicamentos.numero_lote}}</td>
                      <td style="color:Black;">{{medicamentos.presentacion_comercial}}</td>
                      <td style="color:Black;">{{medicamentos.forma_farmaceutica}}</td>
                      <td style="color:Black;">{{medicamentos.principio_activo}}</td>
                      <td style="color:Black;">{{medicamentos.unidad_medica}}</td>
                      <td style="color:Black;">{{medicamentos.porcentaje}}</td>
                      <td style="color:Black;">{{medicamentos.temperatura}}</td>
                      <td style="color:Black;">{{medicamentos.cantidad}}</td>
                      <td style="color:Black;">{{medicamentos.codigo}}</td>
                      <td style="background-color:rgb(255, 255, 255);">
              </div>
            </div>
                    <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar medicamento">
                      <button class="btn btn-primary btn-sm">
                      <i class="fa fa-edit"></i>
                      </button>
                    </a>
                    <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar medicamento">
                      <button class="btn btn-danger btn-sm">
                      <i class="fa fa-trash"></i>
                      </button>
                    </a>
                      
                      </td>
                    </tr>
                  {% endif %}

                  {% if medicamentos.asignacionColor == 'Blanco' %}                                             
                  <tr role="row" class="odd" name="registro_item_Blanco" style="background-color:rgb(250, 250, 250);">

                    <td style="color:Black;">{{medicamentos.nombre}}</td>
                    <td style="color:Black;">{{medicamentos.fecha_vencimiento}}</td>
                    <td style="color:Black;">{{medicamentos.fabricado_por}}</td>
                    <td style="color:Black;">{{medicamentos.registro_invima}}</td>
                    <td style="color:Black;">{{medicamentos.numero_lote}}</td>
                    <td style="color:Black;">{{medicamentos.presentacion_comercial}}</td>
                    <td style="color:Black;">{{medicamentos.forma_farmaceutica}}</td>
                    <td style="color:Black;">{{medicamentos.principio_activo}}</td>
                    <td style="color:Black;">{{medicamentos.unidad_medica}}</td>
                    <td style="color:Black;">{{medicamentos.porcentaje}}</td>
                    <td style="color:Black;">{{medicamentos.temperatura}}</td>
                    <td style="color:Black;">{{medicamentos.cantidad}}</td>
                    <td style="color:Black;">{{medicamentos.codigo}}</td>
                    <td style="background-color:rgb(255, 255, 255);">
            </div>
          </div>
                  <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar medicamento">
                    <button class="btn btn-primary btn-sm">
                    <i class="fa fa-edit"></i>
                    </button>
                  </a>
                  <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar medicamento">
                    <button class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                    </button>
                  </a>
                    
                    </td>
                  </tr>
                {% endif %}
                      {% endfor %}
                      {% else %}
                      <h1 class="black-color">No hay medicamentos registrados</h1>
                      {% endif %}    
                      </tbody>       
                   </table>


                </div>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- funcion para que el mensaje de validación desaparesca automaticamente en segundos o en lo que quiera-->
  <script >
    $(document).ready(function(){
      $("#messages").fadeOut(3500);
      })

  </script>

  <!-- funcion para inicializar la tabla-->
 <script >
    $(document).ready(function() {
        $('#dataTable').DataTable();
    } );
</script>

   <!-- manejo del Ajax para generar consultas por filtro -->
  <script >
      $(document).ready(function(){
          $("#buscar_medicamento").submit(function(e){
              e.preventDefault();
              buscar_medicam = document.getElementById("buscar_medicam").value
              $.ajax({
                  url: $(this).attr('action'),
                  type: $(this).attr('method'),
                  data: $(this).serialize(),
      
                  success: function(json){
                      var colorActual = buscar_medicam;
                      if(colorActual=="Rojo"){
                      $("#dataTable").find("tr:not([name = registro_item_Rojo])").each(function(){
                      $(this).remove();              
                      });
                      }
                      if(colorActual=="Verde"){
                        $("#dataTable").find("tr:not([name = registro_item_Verde])").each(function(){
                        $(this).remove();              
                      });    
                      }
                      if(colorActual=="Amarillo"){
                        $("#dataTable").find("tr:not([name = registro_item_Amarillo])").each(function(){
                       $(this).remove();              
                      });   
                      }
                      if(colorActual=="Blanco"){
                        $("#dataTable").find("tr:not([name = registro_item_Blanco])").each(function(){
                       $(this).remove();              
                      });    
                      } 
                      
                  }
              })
          })
      })
      
  </script>
  
</body>

{% endblock %}