{% extends 'base/base.html' %}
{% block main %}
{% load bootstrap4 %}
{% load staticfiles i18n %}

<!--para que el mensaje de validación desaparesca automaticamente la url-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>
  <div class="container">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <div class="card shadow mb-4">
            <!-- mensaje de validación de creacion de Medicamento-->
            {% if messages %}
      
            {% for message in messages %}
                
                <div id="messages" class="container-fluid" style="background-color:rgb(33, 243, 40);color:#fff;height:100px;">
                  <h1 {% if mesage.tags == "success" %} class="alert alert-sucess "{% endif %}>{{ message }}</h1>
                </div>
                <br>
            {% endfor %}


            {% endif %}
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lista de medicamentos registrados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                 <!-- Búsqueda en la barra superior-->
                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-0 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                    <input type="text" name="asignacionColor" id= "buscar_medicamento" class="form-control bg-light border-0 small" placeholder="Buscar por..." aria-label="buscar" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" onclick="medicamento()" type="button" title="Buscar">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </div>
                
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="dataTable_length"></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="dataTable_filter" class="dataTables_filter"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                        role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                          <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Nombre: activate to sort column ascending" aria-sort="descending" style="width: 99px;">Nombre
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Distribuidor: activate to sort column ascending" style="width: 157px;">Fecha de vencimiento
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Nickname: activate to sort column ascending" style="width: 70px;">Fabricado
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Email: activate to sort column ascending" style="width: 31px;">Registro Invima
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="% Comision: activate to sort column ascending" style="width: 68px;"># Lote
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Es red: activate to sort column ascending" style="width: 67px;">Presentacion Comercial
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Forma Farmaceutica
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Es red: activate to sort column ascending" style="width: 67px;">Principio Activo
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Unidad Medica
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Es red: activate to sort column ascending" style="width: 67px;">Porcentaje
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Temperatura
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Es red: activate to sort column ascending" style="width: 67px;">Cantidad
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Codigo
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Es red: activate to sort column ascending" style="width: 90px;">Acciones</th>
                          </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                          
                        <tbody>
                          <!-- funcion para la asignacion de color -->
                            {% if object_list %}
                            {% for medicamentos in object_list %}
                            {% if medicamentos.asignacionColor == 'Rojo' %}
                            <tr role="row" class="odd" id="registro_itemRojo" style="background-color:rgb(255, 30, 30);">
                              <td style="color:Black;"><b>{{medicamentos.nombre}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.fecha_vencimiento}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.fabricado_por}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.registro_invima}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.numero_lote}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.presentacion_comercial}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.forma_farmaceutica}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.principio_activo}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.unidad_medica}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.porcentaje}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.temperatura}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.cantidad}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.codigo}}</b></td>
                              <td style="background-color:rgb(255, 255, 255);">
                      </div>
                    </div>                       
                            <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar Medicamento">
                              <button class="btn btn-primary btn-sm">
                              <i class="fa fa-edit"></i>
                              </button>
                            </a>
                            <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar Medicamento">
                              <button class="btn btn-danger btn-sm">
                              <i class="fa fa-trash"></i>
                              </button>
                            </a>
                            
                    </td>
                    </tr>
                    {% endif %}
                            {% if medicamentos.asignacionColor == 'Amarillo' %}

                            <tr role="row" class="odd" id="registro_itemAmarillo" style="background-color:rgb(239, 251, 0);">
                                <td style="color:Black;"><b>{{medicamentos.nombre}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.fecha_vencimiento}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.fabricado_por}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.registro_invima}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.numero_lote}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.presentacion_comercial}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.forma_farmaceutica}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.principio_activo}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.unidad_medica}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.porcentaje}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.temperatura}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.cantidad}}</b></td>
                                <td style="color:Black;"><b>{{medicamentos.codigo}}</b></td>
                              <td style="background-color:rgb(255, 255, 255);">
                      </div>
                    </div>                       
                            <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar Medicamento">
                              <button class="btn btn-primary btn-sm">
                              <i class="fa fa-edit"></i>
                              </button>
                            </a>
                            <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar Medicamento">
                              <button class="btn btn-danger btn-sm">
                              <i class="fa fa-trash"></i>
                              </button>
                            </a>
                            
                    </td>
                    </tr>
                    {% endif %}
                              {% if medicamentos.asignacionColor == 'Verde' %}

                            <tr role="row" class="odd" id="registro_itemVerde" style="background-color:rgb(0, 255, 72);">
                              <td style="color:Black;"><b>{{medicamentos.nombre}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.fecha_vencimiento}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.fabricado_por}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.registro_invima}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.numero_lote}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.presentacion_comercial}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.forma_farmaceutica}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.principio_activo}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.unidad_medica}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.porcentaje}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.temperatura}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.cantidad}}</b></td>
                              <td style="color:Black;"><b>{{medicamentos.codigo}}</b></td>
                              <td style="background-color:rgb(255, 255, 255);">
                      </div>
                    </div>                       
                            <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar Medicamento">
                              <button class="btn btn-primary btn-sm">
                              <i class="fa fa-edit"></i>
                              </button>
                            </a>
                            <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar Medicamento">
                              <button class="btn btn-danger btn-sm">
                              <i class="fa fa-trash"></i>
                              </button>
                            </a>
                            
                    </td>
                    </tr>  
                    {% endif %}
                          {% if medicamentos.asignacionColor == 'Blanco' %}

                    <tr role="row" class="odd" id="registro_itemBlanco" style="background-color:rgb(250, 250, 250);">
                      <td style="color:Black;"><b>{{medicamentos.nombre}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.fecha_vencimiento}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.fabricado_por}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.registro_invima}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.numero_lote}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.presentacion_comercial}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.forma_farmaceutica}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.principio_activo}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.unidad_medica}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.porcentaje}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.temperatura}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.cantidad}}</b></td>
                      <td style="color:Black;"><b>{{medicamentos.codigo}}</b></td>
                      <td style="background-color:rgb(255, 255, 255);">
              </div>
            </div>                       
                    <a href="{% url 'actualizarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Actualizar Medicamento">
                      <button class="btn btn-primary btn-sm">
                      <i class="fa fa-edit"></i>
                      </button>
                    </a>
                    <a href="{% url 'eliminarMedicamento' medicamentos.id %}" data-toggle="tooltip" title="Eliminar Medicamento">
                      <button class="btn btn-danger btn-sm">
                      <i class="fa fa-trash"></i>
                      </button>
                    </a>
                    
            </td>
            </tr>  
            {% endif %}
                  </tbody>
                  {% endfor %}
                  {% else %}
                  <h1 class="black-color">No hay medicamentos registrados</h1>
                  {% endif %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- manejo del Ajax para generar consultas por filtro -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
      function medicamento(){
        
        buscar_medicamento = document.getElementById("buscar_medicamento").value
        $.ajax({
            url:"/medicamentos/buscarMedicamento/",
            type:"GET",
            data:{
               asignacionColor : buscar_medicamento,
            },
            success: function(json){
                console.log(json);
                /*
                $('#registro_itemRojo').empty();
                $('#registro_itemAmarillo').empty();
                $('#registro_itemVerde').empty();
                $('#registro_itemBlanco').empty();
*/
                for(var i=0; i<=json.length-1; i++){//13
                  console.log(i);
                    if(json[i]['asignacionColor']==buscar_medicamento){
                      var colorActual = buscar_medicamento;
                      if(colorActual=="Rojo"){
                        $('#registro_itemAmarillo').empty();
                        $('#registro_itemVerde').empty();
                        $('#registro_itemBlanco').empty();     
                      }
                      if(colorActual=="Verde"){
                        $('#registro_itemAmarillo').empty();
                        $('#registro_itemRojo').empty();
                        $('#registro_itemBlanco').empty();     
                      }
                      if(colorActual=="Amarillo"){
                        $('#registro_itemRojo').empty();
                        $('#registro_itemVerde').empty();
                        $('#registro_itemBlanco').empty();     
                      }
                      if(colorActual=="Blanco"){
                        $('#registro_itemAmarillo').empty();
                        $('#registro_itemVerde').empty();
                        $('#registro_itemRojo').empty();     
                      } 

                    }
                }

            }
        })
      }

     
    </script>
    <!-- funcion para que el mensaje de validación desaparesca automaticamente en segundos o en lo que quiera-->
  <script >
    $(document).ready(function(){
      $("#messages").fadeOut(3500);
      })
  </script>
 
</body>


{% endblock %}