<!DOCTYPE html>
<html lang="en">
{%load staticfiles i18n %}
{% load bootstrap4 %}

<!--para que el mensaje de validación desaparesca automaticamente la url-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- mensaje de validación de creacion de cuenta-->
  {% if messages %}
      
  {% for message in messages %}
                
    <div id="messages" class="container-fluid" style="background-color:rgb(33, 243, 40);color:#fff;height:50px;">
    <h1 {% if mesage.tags == "success" %} class="alert alert-sucess "{% endif %}>{{ message }}</h1>
    </div>
    <br>
  {% endfor %}


  {% endif %}
  <title>Crear Cuenta de Usuario</title>
  {% block css %}

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
   {% endblock %}
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Registrar Usuario.</h1>
                  </div>
                    <form class="user" method="POST" >
                        <div class="form-group">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                        <!-- boton para confirmar su registro de cuenta y la cancelacion de ella -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Registrar Usuario</a>
                        <a class="btn btn-default" href="{% url 'templates/login' %}">Cancelar</a>

                        <!-- Mensaje de confirmacion de su registro de cuenta-->
                        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Preparado para Guardar su registro de cuenta exitosamente?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                </div>
                                <div class="modal-body">Seleccione "Guardar Usuario" a continuación si está listo para finalizar su Registro.</div>
                                <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary  btn-user btn-block">Guardar Usuario</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </form> 
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  
  <!-- funcion para que el mensaje de validación desaparesca automaticamente en segundos o en lo que quiera-->
  <script >
    $(document).ready(function(){
      $("#messages").fadeOut(3500);
      })
  </script>
  <!-- Bootstrap core JavaScript-->
  {% block js %}

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  {% endblock %}
</body>

</html>



