{% extends 'base/base.html' %}
{% block main %}
{% load bootstrap4 %}
{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
    <head>
        
        <title>Sistema de semaforización Reporte de Dispositivos Médicos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body class="bg-gradient-primary">
        <div class="col-md-6 offset-md-3"> 
            <div class="card">
                <div class="card-body text-center">
                    <h1>Reporte de Dispositivos Médicos</h1>
                    <input type="hidden" id="rojo" class="w3-xlarge" value="{{Rojo}}"></input>
                    <input type="hidden" id="amarillo" class="w3-xlarge" value="{{Amarillo}}"></input>
                    <input type="hidden" id="verde" class="w3-xlarge" value="{{Verde}}"></input>
                    <input type="hidden" id="blanco" class="w3-xlarge" value="{{Blanco}}"></input>
                    <input type="hidden" id="naranja" class="w3-xlarge" value="{{Naranja}}"></input>
                </div>
                <div class="card-body">
                    <canvas id="myChart" width="2" height="2"></canvas>
                </div>
            </div>
        </div>
        
        <script>
            rojo = document.getElementById("rojo").value;
            amarillo = document.getElementById("amarillo").value;
            verde = document.getElementById("verde").value;
            blanco = document.getElementById("blanco").value;
            naranja = document.getElementById("naranja").value;

            console.log(rojo);
            var config = {
            type:"pie",
            data:{
                labels:['EstadoRojo','EstadoAmarillo','EstadoVerde', 'EstadoBlanco', 'EstadoNaranja'],
                datasets:[{
                    label:'Numero de Dispositivos Médicos segun su estado de color',
                    data: [rojo,amarillo,verde,blanco,naranja],
                    backgroundColor:[
                        'rgb(255, 30, 30)',
                        'rgb(239, 251, 0)',
                        'rgb(0, 255, 72)',
                        'rgb(234, 230, 202)',
                        'rgb(244, 070, 017)',
                    ]
                               
                    }]
            },
                
                options:{
                    responsive: true
                }
            };
            window.onload = function(){
                var ctx= document.getElementById("myChart").getContext("2d");
                window.myPie = new Chart(ctx, config);               
                        
            };                
        </script>
    </body>
</html>

{% endblock %}


