{% extends 'base/base.html' %}
{% block main %}
{% load bootstrap4 %}
{% load staticfiles i18n %}

<body>
  <div class="container">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-12">
          <div class="card shadow mb-4">
    
            <!-- mensaje de validación de creacion de Usuario-->
            {% if messages %}
      
            {% for message in messages %}
                
                <div id="messages" class="container-fluid" style="background-color:rgb(33, 243, 40);color:#fff;height:100px;">
                  <h1 {% if mesage.tags == "success" %} class="alert alert-sucess "{% endif %}>{{ message }}</h1>
                </div>
                <br>
            {% endfor %}


            {% endif %}

            <div class="card-header py-3">
              <h1 class="m-0 font-weight-bold text-center">Lista de Usuarios Registrados</h1>
            </div>
            <div class="card-body">
              <div class="table-responsive">
          
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="dataTable_length"></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="dataTable_filter" class="dataTables_filter"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                        role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                          <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Distribuidor: activate to sort column ascending" style="width: 157px;">Nombres
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Nickname: activate to sort column ascending" style="width: 90px;">Apellidos
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Email: activate to sort column ascending" style="width: 90px;">Email
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Es red: activate to sort column ascending" style="width: 67px;">Tipo Identificacion
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Identificacion
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Es red: activate to sort column ascending" style="width: 90px;">Telefono
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Acciones: activate to sort column ascending" style="width: 90px;">Sexo
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                              aria-label="Acciones: activate to sort column ascending" style="width: 157px;">Acciones
                            </th>
                         
                        </thead>
                        <tfoot>
                        </tfoot>
                        
                        <tbody id="fila_dispositivo"> 
                          <!-- funcion para proyectar los campos con los nombres correspondientes -->
                          {% if object_list %}
                          {% for perfilUsuario in object_list %}
                         
                          <tr role="row" class="odd" name="registro_item_perfilUsuario">
                            
                            <td>{{perfilUsuario.first_name}}</td>
                            <td>{{perfilUsuario.last_name}}</td>
                            <td>{{perfilUsuario.email}}</td>
                            <td>{{perfilUsuario.tipo_identificacion}}</td>
                            <td>{{perfilUsuario.identificacion}}</td>
                            <td>{{perfilUsuario.telefono}}</td>
                            <td>{{perfilUsuario.sexo}}</td>
                            <td>
                    </div>
                  </div>
                          <a href="{% url 'actualizarUsuario' perfilUsuario.id %}" data-toggle="tooltip" title="Actualizar Usuario">
                            <button class="btn btn-primary btn-sm">
                            <i class="fa fa-edit"></i>
                            </button>
                          </a>
                          <a href="{% url 'eliminarUsuario' perfilUsuario.id %}" data-toggle="tooltip" title="Eliminar Usuario">
                            <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                            </button>
                          </a>
                            
                            </td>
                          </tr>
                        
                        {% endfor %}
                        {% else %}
                        <h1 class="black-color">No hay usuarios registrados</h1>
                        {% endif %}    
                        </tbody>       
                     </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- manejo del Ajax para generar consultas por filtro -->
  <script type="text/JavaScript" src="{% static 'js/ajax/buscar.js' %}"></script>

  


 
  <!-- funcion para inicializar la tabla y para exportar 'copy', 'csv', 'excel', 'pdf', 'print'-->
  <script >
    $(document).ready(function() {
    $('#dataTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      } );
    } );
  </script>



  <!-- funcion para que el mensaje de validación desaparesca automaticamente en segundos o en lo que quiera-->
  <script >
    $(document).ready(function(){
      $("#messages").fadeOut(3500);
      })
  </script>
  <!-- manejo del Ajax para generar consultas por filtro -->
  <script >
    $(document).ready(function(){
        $("#buscar_perfilUsuario").submit(function(e){
            e.preventDefault();
            buscar_perfilUsua = document.getElementById("buscar_perfilUsua").innerHTML
            alert(buscar_perfilUsua);
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
    
                success: function(json){
                    
                    var nFilas = $("#dataTable tr").length;
                    var msg = "Filas: "+nFilas;
                 
                    for(var i=0; i<=json.length-1; i++){//13
                    if(json[i]['identificacion']==buscar_perfilUsua){
                      var identificacionActual = buscar_perfilUsua;
                      if(identificacionActual=="identificacion"){
                      $("#dataTable").find("tr([name=registro_item_perfilUsuario])").each(function(){
                      $(this).remove();              
                      });
                      }
                      if(identificacionActual=="first_name"){
                        $("#dataTable").find("tr([name=registro_item_perfilUsuario])").each(function(){
                        $(this).remove();              
                      });    
                      }
                       
                       
                      } 

                    }
                    alert(document.getElements);

                }
                   
                    
            }
        })
     })
   
    
  </script>
 
</body>
{% endblock %}
